@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap%22");

* {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: white;
    
}


.backgroundtext{
    position: relative;
    top: 8px;
    left: 16px;
    background: linear-gradient(#131c27, #663b34);
    font:bold 4rem 'Helvetica', Sans-serif;
    background-image:  url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;

}

.container{
    max-width: 950px;
    font-size: 64px;
    font-weight: 600;

     /* The magic / */

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-repeat: no-repeat;
    background-size: cover;
background-color: rgb(0, 0, 0);
}


.maincard{
    width: 18rem ;
    height: auto;
    position: inherit;
    background-color:#000;

    border-style: solid;
    border-color: rgb(213, 215, 219);
    border-width:  10px;
    background-image: url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80);


}

.cardtitle {
    background-image: url(https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80);
    font-weight: bold;
    text-align: center;

    background-color:#000;

    text-transform: uppercase;
}


.tour {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}

.date{
    text-align: center;
}


.place{
    text-align: center;
}

 .h3 .img .h6{
    display: inline;
    float: none;

}

.artistpic{
    margin:0% 0% 0% 5%  ;
    justify-content: center; 
}